body{
	background-color:black;
	margin: 0 auto;
	font-family: sans-serif;
}

header{
	background: #00795f;
	padding: 40px 0;
	color: white;
	text-align: center;

}

nav ul{
	background-color: #43a286;
	overflow: hidden;
	color:white;
	padding: 0;
	text-align: center;
	margin: 0 auto;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
	
	max-height: 0;


}

nav ul li{
	display: block;
	padding: 20px;
}

nav ul li:hover{
	background-color: black;
}

a{
	text-decoration: none;
	color:inherit;
}

section{
	line-height: 1.5em;
	font-size:.9em;

}

#container{
	margin:0px auto;
}

#left-col{
	background-color: gray;
}

#right-col{
	background-color: tomato;
}

p{
	padding: 20px;
}

#page-content img{
	width: 100%;
}


.handle{
	color:white;
	width: 100%;
	background-color: #005c48;
	text-align: left;
	padding: 15px 10px;
	cursor:pointer;
}

.showing{		
	max-height: 100%;
}

/********Media Queries*******/

@media (min-width: 575px){
	nav ul li{
		display: inline-block;
	}
	
	.handle{
		display: none;
	}
	
	nav ul {
		max-height: 100%;
	}
	
}

@media (min-width: 700px){
	#left-col{
		width: 72.91677%;
		float: left;
	}
	
	#right-col{
		width: 27.08323%;
		float: left;
	}
	
}


@media (min-width: 960px){
	#container{
		width:960px;
	}
}
